body {
    font-family: 'Clear Sans Light', Arial, sans-serif !important;
    background-color: #e8e8e8;
}

.glyphicon-remove-circle
{
    float: right;
    cursor: pointer !important;
}

#primary-color, #secondary-color
{
    width: 150px;
}

a.subnav
{
    cursor: pointer;
}

.preview
{
    max-width: 346px;
    max-height: 362px;
}


#awesomeEditor > div
{
    margin-top:50px;
}

.panel
{
    margin-left: 75px !important;
}

ul.nav-list
{
    color: #000000 !important;
    margin-right: 10px;
}

li.sidebar
{
    color: #000000 !important;
    width: 99.5%;
    padding-top: 3px;
    padding-bottom: 3px;
}

li.sidebar.active, li.sidebar.active:hover
{
    background: #ffcc00 !important;
    font-weight: bold;
    color: #ffffff !important;
}

li.sidebar > a
{
    color: #000000;
}

.presetfont
{
    line-height: 10px;
    color: #000000;
    font-size: .9em;
    background-color: #7f7f7f;
    border: 1px solid white;
}

.presetfont:before
{
    font-family: FontAwesome;
}

h3.panel-title
{
    color: #000000;
    opacity: .75;
}

select, select > option
{
    -webkit-appearance: none;
    -moz-appearance: none;
    -appearance: none;
    float: left;
}

input:disabled
{
    pointer:default;
}

div#previewImage > h2, div#previewSwf > h2 {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 8px;
}

#previewSwf {
    margin-top: 10px;
    padding: 20px 60px 35px 60px;
    background: #b2b2b2;
    /* display: none; */
}

#previewImage, .alert
{
    padding: 20px 60px 35px 60px;
    background: #b2b2b2;
}

.alert
{
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    box-shadow: 5px 5px 5px #888888;
}

#save_button
{
    position: absolute;
    bottom: -50px;
    right: 60px;
}

