body {
    font-family: 'Clear Sans Light', Arial, sans-serif !important;
}

/* Overwrite all bootstrap css rules with a rounded corner to create a flat design */
/* TODO integrate where possible into Chameleon own bootstrap css */
.btn,
div,
input,
li
{
    border-radius: 0px !important;
}

.notification
{
    color: #ff0000;
    font-size: 1.4em;
    padding-left: 50px;
}

input
{
    font-weight: normal;
}

a,
a:hover
{
    text-decoration: none !important;
}

.panel-heading
{
    color: #ffffff !important;
}

.row
{
    margin-bottom: 2px !important;
    margin-right: 1px !important;
    margin-left: 1px !important;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12
{
    padding: 3px !important;
    font-weight: bold;
}

.imageTitle
{
    background-color: #4583c6 !important;

}

.rectangleTitle
{
    background-color: #7b1fa2 !important;
}

.textTitle
{
    background-color: #45b686 !important;
}

.list-group-item,
.panel
{
    color: #ffffff !important;
    background-color: #333333 !important;
    border-color: #333333 !important;
}

form

.form-control[disabled]
{
    background-color: #d9d9d9 !important;
}

.checkbox input[type=checkbox]
{
    /*margin-left: 0px !important;*/
}

form {
    font-size: .8em !important;
}

#editor input, select {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    line-height: 1px !important;
    height: 20px !important;
    border-radius: 0px !important;
}

label {
    margin-top: 2px !important;
    baseline: middle !important;
}

.thumbnail {
    text-align:center !important;
}

.thumbnail > li {
    display: inline-block !important;
    *display:inline !important; /* ie7 fix */
    float: none !important; /* this is the part that makes it work */
}

.navbar {
    background: #3C3C3B !important;
}

.panel {
    border: none;
}
