@font-face {
    font-family: "Clear Sans Light";
    src: url("#{resource['assets:ClearSans-Light.woff']}");
}

html, body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button, .ui-menuitem-text {
    font-family: 'Clear Sans Light', Arial, sans-serif !important;
    /*letter-spacing: 1px;*/
    font-size: 12px;
}

.fa {
    font-family: FontAwesome !important;
}

.ui-widget.fa.fa-2x {
    font-size: 2em;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 1rem;
}

/** remove borders and resizer elements **/
.ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd {
    border: none;
}

/* IE needs this for proper html5 element styling */
header, main, nav, article, footer, section, aside, figure, figcaption {
    display: block;
}

h1, h2 {
    margin: 0 12px 12px 0;
    font-weight: 400;
}

h1 {
    font-size: 2em;

}

h2 {
    font-size: 1.8em;
}

.iconForm, .iconForm h2, header h1, header div {
    display: inline-block;
    vertical-align: baseline;
}

.iconForm a {
    display: inline-block;
    /*font-size: 24px !important;*/
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-tree {
    width: auto !important;
}

/** Create a horizontal scrollbar between the datatable summary row and the pagination panel and sets the correct width for pagination. **/
.ui-datatable-tablewrapper {
    overflow-x: auto;
}

/** Layout and Menu styles **/
.navigation, .navigation .ui-layout-unit-content,
.navigation .ui-widget-content, .navigation .ui-panelgrid .ui-panelgrid-cell,
#footer .ui-widget-content, .ui-layout-unit, #nodes .ui-widget-content {
    background-color: transparent;
    border: none;
    padding: 0 !important;
}

#topbar, #footer {
    background-color: #3c3c3b;
}

#topbar .ui-widget-content, #footer .ui-widget-content {
    color: #fff;
}

#topbar > #logo {
    text-align: center;
}

#topbar .global-datepicker {
    position: absolute;
    right: 50px;
}

#topbar .global-datepicker td {
    padding: 0 5px;
}

#topbar .global-datepicker td span.fa {
    padding: 2px;
}

#topbar .global-datepicker input {
    width: 75px;
    border: 1px solid #eeeeee;
    border-radius: 2px;
    box-shadow: none;
}

#topbar td {
    height: 50px;
    padding: 0;
}

#md-tools td {
    height: 50px;
    width: 40px;
    text-align: center;
}

#md-tools img {
    width: 24px;
    height: 24px;
}

#logo a {
    color: #be0a26;
    text-decoration: none;
    font-size: 28px !important;
    font-weight: bold;
    line-height: 50px;
}

#node-navigation-grid {
    margin-left: 20px;
}

#node-navigation-grid td {
    height: 50px;
    padding: 0;
}

#node-navigation-grid form {
    display: inline-block;
}

#node-navigation-grid .ui-autocomplete-element {
    padding: 0px;
    margin-right: 30px;
}

#node-navigation-grid .navigation_dropdown_icon {
    padding: 0px;
}

#node-navigation-grid input.ui-autocomplete-input {
    padding-right: 25px;
    border-radius: 0px;
    border: 1px solid #eeeeee;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#node-navigation-grid .ui-autocomplete button.ui-autocomplete-dropdown {
    right: -31px;
    background-color: #fff;
    border: none;
    border-radius: 0px 2px 2px 0px;
}

/*
#node-navigation-grid .ui-autocomplete button.ui-autocomplete-dropdown span.ui-button-icon-primary {
    background-image: url("#{resource['images:ui-icons-light.png']}");
}
*/

#node-navigation-grid a {
    position: relative;
    right: 50px;
}

#node-navigation-grid a > span {
    color: #555;
    width: 0;
}

#node-navigation-grid a > span:hover {
    color: #000;
}

#node-navigation-grid td > span.fa {
    width: 50px;
    text-align: center;
    font-size: 45px;
    color: #bbb;
}

#nodes {
    background-color: #888;
}

#user-navigation table {
    position: absolute;
    right: 0;
}

#topbar button.iconbutton, #footer button.iconbutton {
    background: none;
    color: #fff;
    border: none;
    margin: 0;
    text-shadow: 0 0 0;
}

#topbar button.iconbutton {
    height: 50px;
    width: 50px;
}

#footer button.iconbutton {
    height: 50px;
    width: 100px;
    letter-spacing: 1px;
    font-weight: 300;
}

#footer #logo-area > div {
    overflow: visible;
    line-height: 50px;
}

#footer #logo-area img {
    height: 30px;
    vertical-align: middle;
    padding-left: 15px;
}

#footer #contact-area span {
    vertical-align: middle;
    color: #ccc;
    line-height: 50px;
}

#footer #contact-area span.number {
    font-size: 24px;
    font-weight: bold;
}

#footer #contact-area span.fa {
    padding: 0 10px;
}

#topbar button.iconbutton:hover, #topbar button.iconbutton.ui-state-focus,
#footer button.iconbutton:hover, #footer button.iconbutton.ui-state-focus {
    background: #666;
}

#topbar button.iconbutton > span.ui-icon, #footer button.iconbutton > span.ui-icon {
    height: 1em;
    width: 1em;
    margin: 0.5em;
    padding: 0;
}

#footer button.iconbutton > span.ui-icon {
    margin: 0;
    left: auto;
    position: relative;
    width: 1.5em;
}

#footer button.iconbutton > span.ui-button-text {
    padding: 0;
}

#bottom-navigation {
    text-align: center;
}

#bottom-navigation > form {
    display: inline-block;
}

#loading-spinner-icon {
    text-align: center;
}

div.ui-overlaypanel.topbar-panel {
    background: #666;
    border: none;
    color: #fff;
}

div.ui-overlaypanel.topbar-panel > div.ui-overlaypanel-content {
    padding: 0;
}

div.ui-overlaypanel.topbar-panel table,
div.ui-overlaypanel.topbar-panel tr,
div.ui-overlaypanel.topbar-panel td,
div.ui-overlaypanel.topbar-panel th {
    background: none;
    border: none;
    color: #fff;
}

div.ui-overlaypanel.topbar-panel .ui-widget-header {
    background: #888;
}

div.ui-overlaypanel.topbar-panel ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.ui-overlaypanel.topbar-panel li {
    padding: 10px;
}

div.ui-overlaypanel.topbar-panel li > span.fa {
    width: 25px;
    text-align: center;
}

#leftbar {
    background-color: #ffffff;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    border-right: 1px solid #c3c3c3;
}

#leftbar > div {
    overflow-x: hidden;
}

#leftbar li {
    margin: 0;
}

#leftbar li > a {
    width: 140px;
    padding: 10px;
    background: #ffffff;
}

#leftbar li > a:hover {
    color: #000;
    background-color: #e8e8e8;
}

#leftbar li.colorcoded > a {
    width: 130px;
}

#leftbar li > a.active-module-item {
    color: #fff;
    font-weight: bold;
    background: #999;
}

#leftbar li.colorcoded > a.active-module-item {
    color: #fff;
    font-weight: bold;
    background: transparent;
}

#content, #content > div, #content .ui-layout-unit-content {
    padding: 0;
}

#content main {
    padding: 20px 40px;
}

#content header {
    color: #555;
    height: 30px;
    padding: 10px 20px;
}

#content header .pageheader-filter {
    float: right;
}

/** General control styles for commonly used elements **/
#content section {
    margin-bottom: 30px;
}

section > .ui-panel > .ui-panel-titlebar,
section > form > .ui-panel > .ui-panel-titlebar {
    font-size: 1.8em;
    font-weight: 400;
    /*color: #888;*/
    /* TOOD font-color of 2nd / 3rd headline */
    padding: 10px 0;
}

/* overwrite background of ui-panel in section */
section > .ui-panel > .ui-panel-content .ui-layout-unit-content.ui-widget-content {
    background-color: transparent;

}

/* overwrite background of ADD ui-panel in section */
section > .ui-panel > .ui-panel-content .ui-layout-pane-east .ui-layout-unit-content.ui-widget-content form {
    background-color: #ffffff;
    width: 200px;
    overflow: hidden;
}

section > .ui-panel > .ui-panel-titlebar > form {
    display: inline-block;
}

section > .ui-panel > .ui-panel-titlebar > form > a {
    /*color: #888;*/
    /* TOOD: font-color of 2nd / 3rd headline */
}

section > .ui-panel > .ui-panel-titlebar > form > a:hover {
    /*color: #888;*/
    /* TOOD: font-color of 2nd / 3rd headline */
}

.ui-panel, .ui-panel-titlebar, .ui-scrollpanel, .ui-datalist-content {
    border: none;
    background: none;
}

#content table > thead > tr > th {
    box-shadow: none;
    text-shadow: none;
    border: none;
    border-radius: 0;
}

#content table > tbody > tr > td, form table.ui-panelgrid td.ui-panelgrid-cell {
    border: none;
}

section > div.ui-panel,
section > div.ui-panel > div.ui-panel-content {
    padding: 0;
}

/* detail grid table styling */
.ui-datatable table > thead > tr > th,
.ui-datatable table > tbody > tr > td {
    text-align: right;
    padding: 10px;
}

.ui-datatable table > thead > tr > th.left-align,
.ui-datatable table > tbody > tr > td.left-align {
    text-align: left;
}

.ui-datatable span.status {
    cursor: default;
}

.ui-datatable span.status.ACTIVE {
    color: #008000;
}

.ui-datatable span.status.PAUSED {
    color: #ffff00;
}

.ui-datatable span.status.DELETED {
    color: #ff0000;
}

/* buttons */

button.ui-button.round-button-icon {
    height: 200px;
    width: 200px;
    color: #888;
    background-color: #ffffff;
    border: 1px dashed #888;
    border-radius: 0px;
    transition: background-color 0.4s ease-out;
}

button.ui-button.round-button-icon:hover {
    color: #fff;
    border-style: solid;
    border-color: #ffffff;
    background-color: #888;
    transition: background-color 0.4s ease-out;
}

button.round-button-icon > span.ui-icon.fa {
    padding: 0;
    margin: 0;
    line-height: 100px;
    position: relative;
    height: auto;
    width: auto;
    text-shadow: 0 0 0;
}

button.round-button-icon > span.ui-button-text {
    display: none;
}

.ui-button-icon-only .ui-icon.fa,
.ui-button-text-icon-left .ui-icon.fa,
.ui-button-text-icon-right .ui-icon.fa {
    text-indent: 0;
    background: none;
    padding: 0.5em;
    margin: 0;
    top: 0;
    left: 0;
}

.ui-button.ui-widget {
    background-image: none;
    background-color: #888;
    color: #ffffff;
    text-shadow: none;
    border-radius: 4px;
    border: 1px solid #eeeeee;
}

/* general tile stylings */
.ui-panel.tile {
    width: 200px;
    min-height: 200px;
    border: none;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    transition: background 0.4s ease-out;
    position: relative;
}

.tile.tile-2x {
    width: 450px;
}

.tile > div.ui-panel-titlebar {
    font-weight: bold;
    text-align: center;
    padding: 0px;
    /*font-size: 12px;*/
    position: relative;
    /*border-bottom: 1px solid #888;*/
}

.tile > div.ui-panel-titlebar a {
    text-decoration: none;
}

.tile > div.ui-panel-titlebar > div.panelaction {
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1000;
}

.tile > div.ui-panel-titlebar > div.panelaction a {
    margin-left: 10px;
}

.tile > div.ui-panel-titlebar span {
    margin: 0;
    display: inline-block;
}

.tile > .ui-panel-content > table.ui-panelgrid {
    width: 100%;
}

.tile .ui-widget-content {
    background: none;
    border: none;
}

/* hightlights area tiles */
.highlights td {
    padding: 0 50px 0 0;
}

.highlights .tile .ui-panel-content {
    font-weight: bold;
    text-align: center;
    padding: 0;
}

.highlights .tile .ui-panel-content .unit {
    font-size: 16px;
}

/* tile coloring */
.tile .ui-widget-content {
    color: #555;
}

/* tile & grid header: color  */
.tile .ui-panel-title,
.ui-datatable th.ui-state-default,
.tile > div.ui-widget-header a {
    color: #fff;
}

/* tile header: set text as block element for complete filled link of box*/
.tile .ui-panel-title {
    display: block !important;
    padding: 0 0.5em !important;
}

/* set tile-content padding */
.tile .ui-panel-content {
    padding: 0.5em !important;
}

/* tile header*/
main section .ui-datalist-item .tile span.ui-panel-title form a,
main section .ui-datalist-item .tile span.ui-panel-title,
main section table.highlights .tile span.ui-panel-title,
.tile span.ui-panel-title {
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
}

/* tile DEFAULT background-color */
.tile > div.ui-widget-header,
.ui-datatable th.ui-state-default
/*main section .ui-datalist-item .tile.color-targeting div.ui-panel-titlebar*/
     {
    background: #888;
}

.tile div.ui-panel-footer {
    width: 100%;
    position: absolute;
    text-align: right;
    bottom: 0px;
    left: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    padding: 0.5em;
    background-color: inherit;
}

/* tile footer actions positioning*/
.tile div.ui-panel-footer a,
.tile div.ui-panel-footer span,
.ui-datatable table > tbody > tr > td:not(.left-align) a {
    padding: 3px;
    margin-right: 5px;
}

.tile div.ui-panel-footer div.tile-action {
    display: inline-block;
}

/* tile positioning */
.ui-scrollpanel.horizontal {
    white-space: nowrap;
}

.ui-scrollpanel.horizontal .ui-datalist-data {
    padding: 0;
    margin: 0;
}

.ui-scrollpanel.horizontal > .ui-datalist > .ui-datalist-content > .ui-datalist-data > .ui-datalist-item,
.targeting-list.horizontal > .ui-datalist-item {
    display: inline-block;
    padding: 0 50px 0 0;
}

.ui-scrollpanel.horizontal > .ui-datalist > .ui-datalist-content > .ui-datalist-data > .ui-datalist-item:last-child,
.targeting-list.horizontal > .ui-datalist-item:last-child {
    padding: 0;
}

.targeting-list.horizontal > .ui-datalist-item ul,
.ui-tooltip .targeting-more-list ul {
    display: block;
    padding: 0;
    margin: 0;
}

.ui-tooltip .targeting-more-list ul {
    min-width: 150px;
    max-width: 300px;
}

.targeting-list.horizontal > .ui-datalist-item ul li.ui-datalist-item,
.ui-tooltip .targeting-more-list ul li {
    padding: 4px 4px;
    list-style-position: inside;
    list-style-type: square;
}

.ui-tooltip .targeting-more-list ul li {
    float: left;
    width: 140px;
}

/* HIGH EXPERIMENTAL (Tobbo) */

/*.ui-scrollpanel.horizontal .ui-datalist-data {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*.ui-scrollpanel.horizontal .ui-panel:last-child {*/
/*padding: 0;*/
/*}*/

/* END HIGH EXPERIMENTAL (Tobbo) */

/* infoboxen */
div.infobox {
    background-color: #d0d9ff;
    color: #000;
    padding: 20px;
    border-radius: 10px;
}

.infobox.warning {
    background-color: #ffe082;
}

.infobox.error {
    background-color: #f9bdbb;
}

.infobox > div.ui-panel-footer {
    background-color: transparent;
    border-color: #999;
    text-align: center;
}

.infobox > div.ui-panel-footer > form {
    display: inline-block;
}

/* form elements */
form table.ui-panelgrid tr {
    background: none;
    border: none;
}

form table > tfoot > tr > td {
    text-align: right;
}

form table.ui-panelgrid tr > td:first-child {
    width: 125px;
}

form table.ui-panelgrid > tbody > tr > td:last-child {
    width: 400px;
}

form table.ui-panelgrid > tfoot > tr > td {
    padding: 4px 10px;
}

form div.ui-selectonebutton > div.ui-button.ui-state-active {
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

form div.ui-selectonebutton > div.ui-corner-left.ui-state-active {
    background: #009b00;
    border-color: #006400;
}

form div.ui-selectonebutton > div.ui-corner-right.ui-state-active {
    background: #e11d00;
    border-color: #8b0000;
}

form textarea {
    width: 392px;
    padding: 4px;
}

/* highlight tile contents */
table.highlights .tile div.ui-panel-content {
    padding: 10px;
}

table.highlights table {
    width: 100%;
}

table.highlights table td {
    padding: 0;
}

table.highlights table td span.value {
    display: block;
}

table.highlights table td label {
    vertical-align: top;
    font-size: 16px;
}

table.highlights table.twocolumns td {
    height: 60px;
}

table.highlights table.twocolumns td span.value {
    text-align: right;
    font-size: 24px;
}

table.highlights table.twovalues td span.value {
    padding-top: 20px;
    font-size: 24px;
}

table.highlights table.singlevalue td span.value {
    padding: 50px 0 20px 0;
    font-size: 24px;
}

table.highlights table.singlevalue td span.value.big {
    padding-top: 40px;
    font-size: 56px;
}

table.highlights table.singlevalue td label {
    font-size: 16px;
}

/* temporary styling until tiles are all properly filled with data */
.highlights .tile .ui-panel-content > span:first-child {
    font-size: 48px;
    display: inline-block;
    padding-top: 30px;
}

/* targeting */
.targeting-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.targeting-list > div {
    display: inline-block;
    vertical-align: middle;
}

.targeting-list > div > li {
    padding: 20px;
}

.targeting-list div.ui-panel span.include-indicator {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 3px;
}

.targeting-list .ui-panel.tile {
    width: auto;
    min-width: 200px;
}

.targeting-list .ui-datagrid-column {
    min-width: 100px;
}

.targeting-list div.ui-panel.include > div.ui-panel-titlebar,
.targeting-list div.ui-panel.color-targeting.include > div.ui-panel-titlebar {
    background: #228b22;
}

.targeting-list div.ui-panel.include span.include-indicator {
    color: #32cd32;
}

.targeting-list div.ui-panel.exclude > div.ui-panel-titlebar,
.targeting-list div.ui-panel.color-targeting.exclude > div.ui-panel-titlebar {

    background: #a50000;
}

.targeting-list div.ui-panel.exclude span.include-indicator {
    color: #ff0000;
}

form#add-new-targeting-form button {
    width: 100%;
    text-align: left;
}

#leftbar ul li a span.ui-menuitem-text {
    float: none;
    font-size: 14px;
    position: absolute;
    left: 35px;
}

/*** coloring ***/

/* bg color */
#content main, #content header, #content, #content > .ui-layout-unit-content.ui-widget-content {
    background: #e8e8e8;
}

/* item colors */
#select_advertiser_form span input[name="select_advertiser_form:select_advertiser_input"],
#select_advertiser_form\:select_advertiser_panel .ui-state-highlight,
#select_campaign_form span input[name="select_campaign_form:select_campaign_input"],
#select_campaign_form\:select_campaign_panel .ui-state-highlight,
#select_lineItem_form span input[name="select_lineItem_form:select_lineItem_input"],
#select_lineItem_form\:select_lineItem_panel .ui-state-highlight,
#select_creative_form span input[name="select_creative_form:select_creative_input"],
#select_creative_form\:select_creative_panel .ui-state-highlight {
    background-image: none !important;
    text-shadow: none;
    color: #ffffff;
}

/* company */
main section table div.tile.color-company {
    background-color: #888;
}

main section table div.tile.color-company:hover {
    background-color: #666;
}

/* advertiser */
#select_advertiser_form span input[name="select_advertiser_form:select_advertiser_input"],
#select_advertiser_form\:select_advertiser_panel .ui-state-highlight,
main section table div.tile.color-advertiser,
.tile.color-advertiser .ui-widget-header,
.ui-datatable.color-advertiser th.ui-state-default,
#leftbar li.color-advertiser {
    background-color: #f8bf42 !important;
}

/* hover for advertiser tile header */
.tile.color-advertiser .ui-widget-header:hover,
main section table div.tile.color-advertiser:hover,
.tile.color-advertiser:hover div.ui-widget-header {
    background-color: #e69833 !important;
    transition: background 0.4s ease-out;
}

/* hover for advertiser tile content */
.tile.color-advertiser:hover {
    background-color: rgb(255, 246, 214);
    transition: background 0.4s ease-out;
}

/* campaign */
#select_campaign_form span input[name="select_campaign_form:select_campaign_input"],
#select_campaign_form\:select_campaign_panel .ui-state-highlight,
main section table div.tile.color-campaign,
.tile.color-campaign > div.ui-widget-header,
.ui-datatable.color-campaign th.ui-state-default,
#leftbar li.color-campaign {
    background-color: #a2c854 !important;
    transition: background 0.4s ease-out;
}

/* hover for campaign tile header */
.tile.color-campaign div.ui-widget-header:hover,
main section table div.tile.color-campaign:hover,
.tile.color-campaign:hover div.ui-widget-header {
    background-color: #649a26 !important;
    transition: background 0.4s ease-out;
}

/* hover for campaign tile content */
.tile.color-campaign:hover {
    background-color: #ebf0d4;
    transition: background 0.4s ease-out;
}

/* lineItem */
#select_lineItem_form span input[name="select_lineItem_form:select_lineItem_input"],
#select_lineItem_form\:select_lineItem_panel .ui-state-highlight,
main section table div.tile.color-lineitem,
.tile.color-lineitem > div.ui-widget-header,
.ui-datatable.color-lineitem th.ui-state-default,
#leftbar li.color-lineitem {
    background-color: #5fa8dd !important;
}

/* hover for lineitem tile header */
.tile.color-lineitem > div.ui-widget-header:hover,
main section table div.tile.color-lineitem:hover,
.tile.color-lineitem:hover div.ui-widget-header {
    background-color: #1d71b8 !important;
    transition: background 0.4s ease-out;
}

/* hover for lineitem tile content */
.tile.color-lineitem:hover {
    background-color: #e4edfa;
    transition: background 0.4s ease-out;
}

/* creative */
#select_creative_form span input[name="select_creative_form:select_creative_input"],
#select_creative_form\:select_creative_panel .ui-state-highlight,
main section table div.tile.color-creative,
.tile.color-creative > div.ui-widget-header,
.ui-datatable.color-creative th.ui-state-default,
#leftbar li.color-creative {
    background-color: #c887dd !important;
    transition: background 0.4s ease-out;
}

.tile.color-creative > div.ui-widget-header:hover,
main section table div.tile.color-creative:hover,
.tile.color-creative:hover div.ui-widget-header {
    background-color: #a968be !important;
    transition: background 0.4s ease-out;
}

/* hover for creative tile content */
.tile.color-creative:hover {
    background-color: #fcecff;
    transition: background 0.4s ease-out;
}

/* tile colors */
main section table div.tile .ui-widget-content table td {
    color: #ffffff;
    width: 180px;
}

/*** Datepicker ***/
.ui-datepicker select {
    border-radius: 0px;
    border: 1px solid #eeeeee;
    background: none;
    border-top-right-radius: 0px !important;
}

.ui-widget-overlay {
    background-color: #000000;
    opacity: 0.5;
}

/*** palceholder text at breadcrumb ***/
#select_advertiser_form ::-webkit-input-placeholder,
#select_campaign_form ::-webkit-input-placeholder,
#select_lineItem_form ::-webkit-input-placeholder {
    color: #888888;
}

#select_advertiser_form :-moz-placeholder,
#select_campaign_form :-moz-placeholder,
#select_lineItem_form :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #888888;
    opacity: 1;
}

#select_advertiser_form ::-moz-placeholder,
#select_campaign_form ::-moz-placeholder,
#select_lineItem_form ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #888888;
    opacity: 1;
}

#select_advertiser_form :-ms-input-placeholder,
#select_campaign_form :-ms-input-placeholder,
#select_lineItem_form :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #888888;
}

.table-icon {
    text-decoration: none;
}

.ui-widget .fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

/*** changes at forms ***/
.ui-state-active .ui-icon, .ui-state-highlight .ui-icon {
    background-image: url("#{resource['images:ui-icons_333333_256x240.png']}");
}

/*** login page ***/
#login {
    margin-top: 100px !important;
    padding: 20px;
    background-color: #e8e8e8;
}

#login > div.ui-panel .ui-panel-content {
    width: 230px;
    padding: 0;
}

#login img#login\:mdlogo {
    margin: 10px 0;
}

#login input, #login button, #login span.ui-message-warn {
    margin: 5px 0;
    width: 230px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

#login #login\:companySelect {
    width: 230px !important;
}

/*** dropdown highlightning  ***/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #ffffff;
    text-decoration: none;
    background-color: #be0a26;
    background-image: none;
}

.ui-widget-content li.ui-state-hover {
    color: #fff;
    text-decoration: none;
    /*background-color: rgba(190, 10, 38, 0.16);*/
    background-color: #be0a26;
    background-image: none;
}

.ui-scrollpanel-container td.ui-panelgrid-cell {
    padding: 3px 0px;
    margin: 1px;
}

.ui-scrollpanel-container td.ui-panelgrid-cell button {
    padding: 0px;
    margin: 0px;
}

/* set size of header actions */
.pageheader-menu, .pageheader-menu button {
    font-size: 1em;
}

/* headline in retargeting: 1-1-1 */
#creative-list_header form {
    font-size: 12px; /* TODO set font-size dynamically from headline */
    float: right;
    /*vertical-align: baseline;*/
}

#creative-list_header form .ui-selectonemenu {
    margin-left: 5px;
    vertical-align: bottom;
}

#campaign_table td span.table-icon, #lineItem_table td span.table-icon, #creative_table td span.table-icon {
    display: block;
    float: left;
    margin: 3px 5px 0 0;
}